node_modules
.next
.env.local
.DS_Store

.vercel
src/generated
/generated/prisma
# Environment variables
.env
.env.local
.env.*.local
*.mp4
*.mov
*.zip
*.pdf
echo "*.mp4" >> .gitignore
echo "*.zip" >> .gitignore
